/* can't get to import bourbon.scss correctly! */
@import "bourbon";

$circleoneColor: #D42667;
$circletwoColor: #701236;
$circlethreeColor: #1C030D;
$circlefourColor: #72696D;
$circlefiveColor: #DD6F22;
$circlesixColor: #C7BFB9;
$fontColor: $circlefourColor;
$h1font: 'Oswald', sans-serif;


.h1 {
	font-family: $h1font;
	color: darken($fontColor, 10%);
	font-size: 3em;
}
.h2 {
	font-family: $h1font;
	text-transform: uppercase;

}
.h3 {
	font-family: $h1font;
}
.h4 {
	font-family: $h1font;
}
.h5 {
	font-family: $h1font;
}
.body {
	font-family: 'lato', sans-serif; 
	font-size: 18px;
}

#header {
	
	border-bottom: 1px solid grey;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

#header img {
	float:left;
	width: 150px;
	margin-top:30px;

}

#header .h2 {
	margin-left: 160px;
	margin-top: 100px;
	
}

.circles {
	margin-top: 20px;
	padding-bottom: 13px;
	border-bottom: 1px solid grey;
}

.typography {
	border-bottom: 1px solid grey;
}
/* finally got the circles to accept text */
.box {
	margin-top: 20px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin: 3px;
	display:inline-block;
	font-size: 15px;
	color: #fff;
	line-height: 80px;
	text-align: center;

}

.colorname {
	display:inline-block;
	margin: 15px;
}


#circleone {
	background-color: $circleoneColor;

}
#circletwo {
	background-color: $circletwoColor;
}
#circlethree {
	background-color: $circlethreeColor;
}
#circlefour{
	background-color: $circlefourColor;
}
#circlefive {
	background-color: $circlefiveColor;
}
#circlesix {
	background-color: $circlesixColor;
}

.button {
	margin-bottom: 15px;
	margin-top: 15px;
	// border-bottom: 1px solid grey;
	padding-bottom: 20px;
}

.btn-custom1 {
  background-color: $circleoneColor;
  border-color: $circleoneColor;
  color: white;
}

.btn-custom1:hover,
.btn-custom1:focus,
.btn-custom1:active,
.btn-custom1.active  {
  background-color: #be225c;
  border-color: #a91e52;
}

.btn-custom1.disabled:hover,
.btn-custom1.disabled:focus,
.btn-custom1.disabled:active,
.btn-custom1.disabled.active, {
  background-color: $circleoneColor;
  border-color: $circleoneColor;
}

.btn-custom2 {
  background-color: $circlefiveColor;
  border-color: $circlefiveColor;
  margin-top: 15px;
}
.btn-custom2:hover,
.btn-custom2:focus,
.btn-custom2:active,
.btn-custom2.active {
  background-color: #c7641f;
  border-color: #b1591b;
}
.btn-custom2.disabled:hover,
.btn-custom2.disabled:focus,
.btn-custom2.disabled:active,
.btn-custom2.disabled.active, {
  background-color: $circlefiveColor;
  border-color: $circlefiveColor;
}

.btn-custom3 {
  background-color: $circletwoColor;
  border-color: $circletwoColor;
  margin-top: 15px;
  color: white;
}
.btn-custom3:hover,
.btn-custom3:focus,
.btn-custom3:active,
.btn-custom3.active {
  background-color: #5a0e2b;
  border-color: #440b21;
}
.btn-custom3.disabled:hover,
.btn-custom3.disabled:focus,
.btn-custom3.disabled:active,
.btn-custom3.disabled.active, {
  background-color: $circletwoColor;
  border-color: $circletwoColor;
}

.navigation {
	margin-bottom: 15px;
	margin-top: 15px;
	// border-bottom: 1px solid grey;
	padding-bottom: 20px;
}

/* Create a small height at 30px */
.navbar-sm {min-height:30px; width:80%}
.navbar-sm .navbar-brand,
.navbar-sm .navbar-nav>li>a {padding-top:5px; padding-bottom:5px}
.navbar-sm .navbar-brand {height: 30px}
.navbar-sm .navbar-toggle {margin: 3px 9px 3px 0px; padding: 4px 4px 4px 4px;}
.navbar-sm .navbar-toggle .icon-bar {width: 16px;}



.borders {
	border-top: 1px solid grey;


}
.borders .img-rounded {
	width: 200px;
	height: 200px;
	margin-top: 30px;
	box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #A09D9D;
}

.borders .img-circle {
		width: 200px;
		height: 200px;
		border: 5px dotted $circletwoColor;
		
}

.borders .img-polaroid {
		width: 200px;
		height: 200px;
		border-top-left-radius: 20px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 30px;
		border-bottom-left-radius: 0;
}

/*use the following for a transition 
		background-position: 50% 50%;
		background-repeat: no-repeat;
		display: inline-block; 
		
		border: 60px solid $circlefiveColor;
		border-radius: 100%;

		-webkit-transition: 0.5s ease;
	}
.img-polaroid:hover {
		border-width: 0;
		border-color: rgba(0, 0, 0, 0.5);
	}
*/

// what if I have multiple .img-rounded? how to I write multiples? //
// what exactly is difference between fluid and not in Bootstrap? //


.filters {
	border-top: 1px solid grey;
	margin-top: 50px; 

}

.filters .img-rounded {
	width: 200px;
	height: 200px;
	margin-top: 30px;
	border: 5px solid $circlefiveColor;
	@include filter(grayscale(50%));
		
}

.filters .img-circle {
		width: 200px;
		height: 200px;
		border: 5px dotted $circletwoColor;
		@include filter(grayscale(30%));
		
}

.filters .img-polaroid {
		width: 200px;
		height: 200px;
		border: 5px solid $circlesixColor;
		@include filter(grayscale(50%));
		background-position: 50% 50%;
		background-repeat: no-repeat;
		display: inline-block; 
		
		border: 60px solid $circlefiveColor;
		border-radius: 100%;
		-webkit-transition: 0.5s ease;
	}
.filters .img-polaroid:hover {
		border-width: 0;
		border-color: rgba(0, 0, 0, 0.5);
	}

